:root {
  --color-background: #FFE8CD;
  --color-text: #4F4A45;
  --color-accent: #FF6C22;
  --font-family-primary: 'Noto Sans JP', sans-serif;
  --font-family-secondary: 'Heebo', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: #FFBA6A;
}

.navbar img {
  width: 3.5rem;
  height: 3.5rem;
}

.navbar-nav .nav-link {
  color: var(--color-text);
  font-size: 13px;
  text-transform: uppercase;
  font-family: var(--font-family-primary);
  font-weight: 600;
  transition: color 0.3s;
}

.menucito a:hover {
  color: var(--color-accent);
}

#tituloo h2 {
  color: black;
  margin-top: 50px;
  font-size: 35px;
  font-family: var(--font-family-primary);
  font-weight: 600;
}

#tituloo p {
  color: black;
  font-family: var(--font-family-secondary);
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.galeriaa img {
  max-width: 100%;
  height: auto;
  max-height: 100px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.galeriaa img[id^="imgrevelde"] { 
  max-width: 100%;
  height: auto;
  max-height: 100px;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 20px;
}

.galeriaa img[id^="imgrevelde1"],
.galeriaa img[id^="imgrevelde2"] {
  max-width: 70%;
  max-height: 70px;
}

.galeriaa img[id^="imgrevelde3"] {
  max-width: 80%;
  max-height: 70px;
}

.galeriaa img[id^="imgrevelde4"] {
  margin-top: 15px;
  margin-bottom: 20px;
}

.footer {
  background-color: #504f4f;
  color: white;
  padding: 20px 0;
  margin-top: auto; 
}

.footer a {
  color: white;
}

.social-icons {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.social-icons li {
  margin-right: 10px;
}

#face,
#linkedin {
  margin-top: 10px;
  width: 60px;
  height: 60px;
}

#twitter {
  margin-top: 20px;
  width: 43px;
  height: 43px;
}

@media screen and (max-width: 480px) {
  .galeriaa img,
  .galeriaa img[id^="imgrevelde"] {
    max-width: 100%;
    height: auto;
    max-height: 100px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .galeriaa img[id^="imgrevelde1"],
  .galeriaa img[id^="imgrevelde2"] {
    max-width: 70%;
    max-height: 70px;
  }

  .galeriaa img[id^="imgrevelde3"] {
    max-width: 80%;
    max-height: 70px;
  }

  .galeriaa img[id^="imgrevelde4"] {
    margin-top: 15px;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .menucito ul,
  .menucito li a {
    text-align: center;
  }

  .social-icons {
    align-items: center;
  }

  #face,
  #linkedin,
  #twitter {
    margin-top: 10px;
  }
}
