#fomuuu  {
  background-color: #D9D9D9;
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 55px;
}

#fomuuu .custom-btn {
  width: 120px;
  background-color: #FFA500;
  border: 1px solid #808080;
  color: #fff;
}

.imgg{ 
  width: 6rem;
  margin-bottom: 6px;
  margin-top: 5px;
}

.modal .botoncito {
  width: 120px;
  background-color: #FFA500;
  border: 1px solid #808080;
  color: #fff;
}


#fomuuu input{animation:input 1s; } @keyframes input{ 0%{transform:scale(.5)} 100%{transform:scale(1)} }

#fomuuu label{animation:label 1s; } @keyframes label{ 0%{transform:scale(.5)} 100%{transform:scale(1)} }

#fomuuu textarea{animation:textarea 1s; } @keyframes textarea{ 0%{transform:scale(.5)} 100%{transform:scale(1)} }

#fomuuu button{animation:button 1s; } @keyframes button{ 0%{transform:scale(.5)} 100%{transform:scale(1)} }
