:root {
  --color-background: #ffe8cd;
  --color-navbar: #ffba6a;
  --color-text: #4f4a45;
  --color-highlight: #ff6c22;
  --font-family-primary: 'Noto Sans JP', sans-serif;
  --font-family-secondary: 'Heebo', sans-serif;
}

/* Estilos generales */
#bodyy {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffe8cd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Estilos de la barra de navegación */
.navbar {
  background-color: var(--color-navbar);
}

.navbar img {
  width: 3.5rem;
  height: 3.5rem;
}

.navbar-nav .nav-link {
  font-weight: 600;
  color: var(--color-text);
  font-size: 13px;
  text-transform: uppercase;
  font-family: var(--font-family-primary);
  transition: color 0.3s;
}

.menucito a:hover {
  color: var(--color-highlight);
}

/* Estilos del título */
#tituloo h2 {
  color: black;
  font-weight: 600;
  margin-top: 50px;
  font-size: 35px;
  font-family: var(--font-family-primary);
}

#tituloo p {
  color: black;
  font-family: var(--font-family-secondary);
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  /* Estilos para dispositivos móviles (tabletas y teléfonos) */
  .menucito ul,
  .menucito li a {
    text-align: center;
  }

  .social-icons {
    align-items: center;
  }

  #face,
  #linkedin,
  #twitter {
    margin-top: 10px;
  }

  #titulo {
    font-family: var(--font-family-primary);
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    padding: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

/* Estilos del pie de página */
.footer {
  background-color: #504f4f;
  color: white;
  width: 100%;
  height: auto;
}

.footer a {
  color: white;
}

.social-icons {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.social-icons li {
  margin-right: 10px;
}

#face,
#linkedin,
#git,
#twitter,
#git {
  margin-top: 10px;
  width: 50px;
  height: 50px;
}

/* Estilos de las barras de progreso */
.title {
  margin-top: 0;
}

.progress-container {
  margin-top: 20px;
}

.progress-bar {
  background-color: #ffa333;
}

.ten-percent {
  width: 10%;
}

.hundred-percent {
  width: 100%;
}

.left-align {
  text-align: left;
}
.numeritos {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.numeritos2 {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

#izq {
  margin: 0;
}

#der {
  margin: 0;
}

/* Estilos específicos de las barras de progreso */
.casas-progress,
.edificios-progress,
.escuelas-progress,
.hospitales-progress,
.hoteles-progress,
.puentes-progress,
.obras-viales-progress,
.estadios-deportivos-progress,
.plantas-energia-progress {
  width: 100%;
}

.escuelas-progress {
  width: 45%;
}

.hospitales-progress {
  width: 70%;
}

.hoteles-progress {
  width: 22%;
}

.puentes-progress {
  width: 60%;
}

.obras-viales-progress {
  width: 40%;
}

.estadios-deportivos-progress {
  width: 60%;
}

.plantas-energia-progress {
  width: 12%;
}
