:root {
  --color-background: #FFE8CD;
  --color-navbar: #FFBA6A;
  --color-text: #4F4A45;
  --color-highlight: #FF6C22;
  --font-family-primary: 'Noto Sans JP', sans-serif;
  --font-family-secondary: 'Heebo', sans-serif;
}

#bodyy {
  background-color: var(--color-background);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: var(--color-navbar);
}

.navbar img {
  width: 3.5rem;
  height: 3.5rem;
}

.navbar-nav .nav-link {
  font-weight: 600;
  color: var(--color-text);
  font-size: 13px;
  text-transform: uppercase;
  font-family: var(--font-family-primary);
  transition: color 0.3s;
}

.menucito a:hover {
  color: var(--color-highlight);
}

#herooo h2 {
    margin-top: 50px;
    font-size: 35px;
    font-family: var(--font-family-primary);
    font-weight: 600;

}
#herooo h6 {
  font-family: 'Heebo', sans-serif;
  color: var(--color-text);
  font-size: 18px;
  font-weight: 600;
}

#imagen {
  text-align: center;
}

.accordion-body {
  background-color: #C3BDBD;
}

.accordion-button {
  background-color: var(--color-navbar);
  color: white;
}

.accordion-button:focus {
  background-color: #808080;
}

#tres .accordion-button {
  background-color: #FFA500; /* Asegúrate de que realmente necesitas esta regla aquí */
}

.accordion-item {
  border-color: black;
  border-width: 1px;
}

@media (max-width: 767px) {
  #imagen {
    display: none;
  }
}

.footer {
  background-color: #504f4f;
  color: white;
  padding: 20px 0;
  margin-top: auto; 
}

.footer a {
  color: white;
}

.social-icons {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.social-icons li {
  margin-right: 10px;
}

#face,
#linkedin,
#git,#twitter,#git {
  margin-top: 10px;
  width: 50px;
  height: 50px;
}



@media screen and (max-width: 768px) {
  .menucito ul,
  .menucito li a {
    text-align: center;
  }
  .social-icons {
    align-items: center; 
  }

  #face, #linkedin, #twitter, #git {
    margin-top: 10px; /* Reutiliza la propiedad margin-top */
  }
}
